body {
  
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;      
  background: #0c1a21;      
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
